.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.login-form {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-logo {
    width: 150px;
    height: 160px;
}

@media screen and (min-width:576px){
    .login-logo {
        width: 200px;
        height: 210px;
    }
}

@media screen and (max-width:576px){
    .login-form {
        width: 100%;
    }
}

.log-input {
    width: 100%;
    border: 3px solid #bfac00;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.login-button {
    background-color: black !important;
    color: white;
    font-style: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
}